* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("bg.jpg");
  background-size: cover;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.today {
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: rgb(22, 89, 181, 0.8);
  margin-top: 10px;
  padding-bottom: 10px;
}

h1 {
  color: white;
}

p {
  text-align: center;
  padding: 10px 30px 10px 30px;
  color: white;
}

#nasa {
  display: block;
  width: 300px;
  height: 200px;
  margin: 0 auto;
}

iframe {
  display: block;
  width: 300px;
  height: 200px;
  margin: 0 auto;
}

.logo {
  height: 200px;
}

.navbtn a {
  color: white;
  text-decoration: none;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

h4 {
  color: white;
  padding: 5px;
}

.navbtn {
  width: 170px;
  height: 30px;
  max-width: 100%;
  background: #9e2092;
  color: white;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  outline: none;
  margin: 5px;
}

#button {
  width: 90px;
  height: 25px;
  border-radius: 5px;
  max-width: 100%;
  background: #9e2092;
  color: white;
  border: none;
  font-weight: 600;
  outline: none;
  font-size: 15px;
  cursor: pointer;
}

input {
  border-radius: 5px;
  height: 25px;
  width: 130px;
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .today {
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media only screen and (max-width: 600px) {
  .today {
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 2%;
    margin-right: 2%;
  }
}